@import "tailwindcss";

@theme{
    --color-Blue-950: hsl(233, 26%, 24%);
    --color-Green-500: hsl(136, 64%, 51%);
    --color-Cyan-400: hsl(192, 69%, 51%);
    --color-neutral-gray-600: hsl(233, 8%, 62%);
    --color-neutral-gray-100: hsl(220, 16%, 96%);
    --color-neutral-gray-50: hsl(0, 0%, 98%);
    --color-neutral-white: hsl(0, 100%, 100%);
    --spacing-container: 1440px;
}

@layer utilities {
    .font-primary{
        font-family: var(--font-public-sans);
    }
}


@media (max-height:350px) and (orientation: landscape){
    .short-landscape-font{
     font-size:18px !important
    }
}